* {
      background-color: #e3edf2;
      font-family: 'Helvetica', Arial, sans-serif;
      color: #6079c3;
    }

/*Navbar style starts here*/
  .custom-nav {
  backdrop-filter: blur(10px);   
  color: #6079c3;       
  
}

.nav-hover {
  transition: 0.2s ease;
}

.nav-hover:hover {
  opacity: 0.6;
  cursor: pointer;
}




/*Navbar style ends here*/

/*Gallery intro style starts here*/

  .gallery-intro {
  padding-top: 90px;  
}

.gallery-title {
  font-weight: 700;
  line-height: 1.1;
  font-family: Helvetica, sans-serif;

  
  font-size: clamp(3rem, 8vw, 110px);

  margin-bottom: 0;
  color: #1f2c85; 
}

.gallery-title span {
  display: block; 
  color: #3636d6; 
}


.gallery-description {
  font-size: 1.15rem;
  margin: 0;
  line-height: 1.6;
  color: #4b4b4b;
}

/*Gallery intro style ends here*/


/*Gallery image styles start here*/

  .gallery-img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  margin-bottom: 15px;
  border-radius: 5px; 
}


.gallery-img.tall {
  height: 300px;
}


.gallery-img.wide {
  height: 200px; 
}

.gallery-img:hover {
  transform: scale(1.03);
  box-shadow: 0px 14px 40px rgba(0,0,0,0.25);
  cursor: pointer;
}

/*Gallery image styles end here*/


/*Works styles start here*/
.icon-grid-container {
  padding: 60px 0;
  text-align: center;
}

.icon-grid-img {
  width: 60px;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}


.icon-link:hover .icon-grid-img {
  transform: scale(1.18) translateY(-5px);

}

/*Works styles end here*/

/* GetDressed  styles start here */

body.bg-light-blue {
    background: #E3EDF2;
}

.text-primary {
    color: #3E65D8 !important;
}

.display-2 {
    font-weight: 700;
  line-height: 1.1;
  font-family: Helvetica, sans-serif;

}

.intro-text {
    font-size: 1.1rem;
    color: #4a4a4a;
}


.spread-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.spread-img {
    width: 100%;
    height: 560px;     
    object-fit: cover;
}


/* GetDressed  styles end here */

.glass-footer {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25); 
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: #000; 
  font-size: 1.1rem;
}
 